html,body{
  height: 100%;
  margin: 10px;
  font-family: sans-serif;
}

h2{
  margin: 30px 0 5px;
  font-size: 1.3rem;
  font-weight: 600;
  opacity: .8;
}

.content{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.links{
  flex-grow: 0;
}

.output{
  flex-grow: 1;
  border: 1px dotted gray;
}
